---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="title">
    <h1 class="title">Notion Notes</h1>
    <p>Notion + Astro = ❤️</p>
    <a
      href="/posts/Getting-Started-with-Astro-notion-abf4b8e913da4f78af2ab2360ea2c4c7"
    >
    </a>
  </div>
  <section class="features">
    <div class="feature">
      <div>✨ Up to Date</div>
      <p>
        This website will be updated whenever I take new notes. This means that
        this website will have the newest information on it.
      </p>
    </div>

    <div class="feature">
      <div>🍰 Easy to Use</div>
      <p>
        Go to the <a href="/notes">Notes</a> section to view the notes I have. You
        can see the title of the notes, the category, and the date it was written.
      </p>
    </div>

    <div class="feature">
      <div>✨ Open Source</div>
      <p>
        This website is open source. You can view the source code by clicking
        the button in the top right, or you can <a
          href="https://github.com/durocodes/astro-notion">click here</a
        >.
      </p>
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  a {
    background: antiquewhite;
    padding-right: 0.5ch;
    padding-left: 0.5ch;
  }

  .title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--size-4) 0;
    background-color: cornsilk;

    h1 {
      font-size: var(--size-8);
      font-weight: bold;
      padding: var(--size-4) 0;
    }

    p {
      font-size: var(--size-4);
      padding: 0 0 var(--size-8) 0;
      max-width: 30ch;
    }

    @media (max-width: 425px) {
      h1 {
        font-size: var(--size-6);
      }

      p {
        max-width: 15ch;
        font-size: var(--size-3);
        padding-bottom: var(--size-4);
      }

      .btn {
        padding: var(--size-2);
      }
    }
  }

  .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--size-4);
    margin-top: var(--size-8);

    .feature {
      padding: 0 var(--size-5);

      div {
        padding-bottom: var(--size-4);
        font-size: 1.5em;
      }
    }
    @media (max-width: 996px) {
      grid-template-columns: 1fr;

      .feature {
        padding-bottom: var(--size-6);
      }
    }
  }
</style>
