---
import '../styles/reset.css';
import '../styles/global.css';
import '../styles/notion.scss';
---

<head>
  <title>Notion Notes</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Work+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap"
    rel="stylesheet"
  />

  <!-- Meta Tags -->
  <meta name="og:description" content="Notion Notes" />
  <meta name="theme-color" content="#FAEBD7" />
  <meta name="msapplication-TileColor" content="#FAEBD7" />
  <meta property="og:image" content="/banner.png" />
  <meta name="og:title" content="Notion Notes" />
  <meta name="og:description" content="Notion + Astro = ❤️" />
  <meta name="twitter:card" content="summary_large_image" />
</head>
