---
import { Icon } from 'astro-icon';
---

<footer>
  <p>
    © <a href="https://duro.ml" target="_blank">Duro</a>
    {new Date().getFullYear()}
  </p>
</footer>

<style lang="scss">
  footer {
    margin-top: var(--size-8);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-2);
  }
</style>
